<h2>Crear sucursal</h2>
<%= form_for @user do |f| %>
  <%= f.label :userid, 'Usuario' %>:
  <%= f.text_field :userid %><br />

  <%= f.label :password, 'Contraseña' %>:
  <%= f.password_field :password %><br />

  <%= f.submit %>
<% end %>
