<h2>Usa los puntos del usuario de: <%= @client_profile[:name] %></h2>
<p>Cantidad total de puntos: <%= @point_number %></p>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-5  toppad  pull-left col-md-offset-3 ">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <% if flash[:insufficient_money] %>
            <div class="alert alert-danger">
              <strong>Puntos insuficientes</strong>
            </div>
          <% end %>
          <%= form_for :balance, url: client_balances_use_create_path do |f| %>
            <%= f.label :point, "Puntos", class:'form-control'  %>
            <%= f.number_field :point %>
            <div class="input-group form-control">
              <%= fields_for :balance_information do |balance_information_form| %>
                <%= balance_information_form.label :amount, "Cantidad", class:'form-control' %>
                <%= balance_information_form.text_field :amount, class:'form-control'%>
            </div>
            <div class="input-group form-control">
              <%= balance_information_form.label :note_number, "Nota de venta", class: 'form-control' %>
              <%= balance_information_form.text_field :note_number, class:'form-control'%>
            </div>
              <% end %>
              <%= fields_for :vendor do |vendor_form| %>
                <%= vendor_form.label :vendor, "Vendedor", class:'form-control' %>
                <%= vendor_form.select :vendor, @vendors.collect {|v| [ v.name, v.id ] }, class:'form-control' %>
              <% end %>
              <%= f.submit "Usar puntos", class:'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
