<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @card.title %>
</p>

<p>
  <strong>Percent:</strong>
  <%= @card.percent %>
</p>

<p>
  <strong>User:</strong>
  <%= @card.user %>
</p>

<%= link_to 'Editar', edit_card_path(@card) %> |
<%= link_to 'Volver', cards_path %>
