<!DOCTYPE html>
<html>
  <head>
    <title>Monedero</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if sign_in? %>
      <%= render 'layouts/header' %>
      <div class="container">
        <div class="row">
          <%= render 'layouts/leftbar' %>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>

          <%= yield %>
    <% end %>
  </body>
</html>
